@import '../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';
@import '../bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css';

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.eot");
  src: url("../bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), 
       url("../bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.woff2") format("woff2"), 
       url("../bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.woff") format("woff"), 
       url("../bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.ttf") format("truetype"), 
       url("../bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg"); 
}

@function rem($divisor) {
  @return $divisor / 16 * 1rem;
}

$primary: #f38d43;
$background: #005589;

html, body {
  font-size: 16px;
}

body {
  background-color: $background;
  color: #fff;
}

h1, h2, h3 {
  color: $primary;
}

strong {
  color: $primary;
}

.container {
  max-width: 960px;
}

.btn-primary {
  background-color: $primary;
}

.dropdown-toggle {
  width: 100%;
  text-align: left;

  span {
    float: right;
    margin-top: 7px;
  }
}

.hero {
  position: relative;

  .btn {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.masthead {
  background-color: $primary;

  h2 {
    color: #fff;
  }
}
form {
  h3 {
    background-color: $primary;
    color: #fff;
  }
}

.terms {
  font-size: rem(13);
}