@import '../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';
@import '../bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css';

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.eot");
  src: url("../bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), 
       url("../bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.woff2") format("woff2"), 
       url("../bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.woff") format("woff"), 
       url("../bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.ttf") format("truetype"), 
       url("../bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg"); 
}

@font-face {
  font-family:'fonts/TradeGothicLTPro-Bold';
  src: url('../fonts/TradeGothicLTPro-Bold_gdi.eot');
  src: url('../fonts/TradeGothicLTPro-Bold_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TradeGothicLTPro-Bold_gdi.woff') format('woff'),
    url('../fonts/TradeGothicLTPro-Bold_gdi.ttf') format('truetype'),
    url('../fonts/TradeGothicLTPro-Bold_gdi.svg#TradeGothicLTPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family:'HappinessBeta-Regular';
  src: url('../fonts/HappinessBeta_gdi.eot');
  src: url('../fonts/HappinessBeta_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HappinessBeta_gdi.woff') format('woff'),
    url('../fonts/HappinessBeta_gdi.ttf') format('truetype'),
    url('../fonts/HappinessBeta_gdi.svg#HappinessBeta-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}

@function rem($divisor) {
  @return $divisor / 16 * 1rem;
}

@function animate($prop: all) {
  @return $prop 0.25s ease-in;
}

@mixin layout {
  width: 1400px;
  margin: 0 auto;
}

$primary: #f38d43;
$tertiary: #0d6ca6;
$background: #005589;
$trade: 'fonts/TradeGothicLTPro-Bold';
$happy: 'HappinessBeta-Regular';

html, body {
  font-size: 16px;
}

body {
  background-color: $background;
  color: #fff;
}

h1, h2, h3 {
  color: $primary;
  font-family: $trade;
}

strong {
  color: $primary;
}

.container {
  max-width: 960px;
}

.happy {
  font-family: $happy;
}

.btn-primary {
  font-family: $trade;
  text-transform: uppercase;
  background-color: $primary;
  transition: animate();
  padding: 15px 10px;
  border-radius: 0;

  &:hover {
    background-color: darken($primary, 10%);
  }
}

.dropdown-toggle {
  width: 100%;
  text-align: left;
  border-radius: 0;

  span {
    float: right;
    margin-top: 7px;
  }
}

.hero {
  @include layout;
  background: url(../img/hero.jpg) no-repeat center;
  height: 607px;
  background-size: cover;

  .container {
    position: relative;
    background-image: url(../img/gradient.png) repeat top left;
  }

  .btn {
    border-radius: 0;
    position: absolute;
    top: 0;
    right: 0;
    font-size: rem(18);
  }

  h1 {
    width: 243px;

    img +span {
      display: none;
    }
  }
}

.masthead {
  background-color: $primary;
  position: relative;
  @include layout;

  h2 {
    color: #fff;
  }

  .arrow-down {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent; 
    border-top: 20px solid $primary;
    position: absolute;
    bottom: -20px;
    left: 50%;
  }
}

.blurb {
  @include layout;
  background-color: $tertiary;
  font-size: rem(19);
  line-height: 1.54rem;
  padding: 30px 0;
}

.offers {
  @include layout;
  background-color: #fff;
  padding: 30px 0;
  
  .container{
    position: relative;
  }

  .sticker {
    position: absolute;
    left: -175px;
    top: 0;
    z-index: 1;
  }

  .col {
    img {
      width: 100%;
    }
  }

  .desc {
    padding: 5px;
    font-family: $trade;
    text-transform: uppercase;
    font-size: rem(11);
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
}

form {
  font-size: rem(14);

  h3 {
    background-color: $primary;
    text-transform: uppercase;
    color: #fff;
    padding: 10px;
  }

  label {
    font-weight: normal;
    font-size: rem(12);
  }

  .form-control{
    border-radius: 0;
  }

  input[type="checkbox"] {
    border: 2px solid $primary;
  }

  textarea {
    width: 100%;
  }

  .form-block {
    background-color: #fff;
    color: #333;
    padding: 10px;
  }

  .btn-primary {
    width: 100%;
    font-size: rem(24);
  }
}

.terms {
  margin-top: 15px;
  font-size: rem(13);
  line-height: 1.5rem;
}